<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Today Recipe</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="/js/admin/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="/js/admin/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/js/admin/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="/js/admin/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="/js/admin/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/js/admin/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/js/admin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/admin/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="/js/admin/metisMenu/metisMenu.min.js"></script>
    <script src="/js/admin/metisMenu/metisMenu-active.js"></script>

    <!-- plugins JS
        ============================================ -->
    <script src="/js/admin/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/js/admin/main.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</head>
<body>
<!--<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        &lt;!&ndash; Main Content &ndash;&gt;
        <div id="content">
            <div class="container-fluid">
                &lt;!&ndash; Page Heading &ndash;&gt;

                &lt;!&ndash; DataTales Example &ndash;&gt;-->

                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                    </colgroup>
                    <tbody>
                    <table class="table table-bordered" id="commentTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th width ="10%">작성자</th>
                            <th width ="60%">내용</th>
                            <th width ="20%">작성일</th>
                            <th width = "10%">제어</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th width ="10%">작성자</th>
                            <th width ="60%">내용</th>
                            <th width ="20%">작성일</th>
                            <th width = "10%">제어</th>
                        </tr>
                        </tfoot>
                        <tbody id="commentBody"> </tbody>
                    </table>
                    </tbody>
                </table>


           <!-- </div>
            &lt;!&ndash; /.container-fluid &ndash;&gt;

        </div>
        &lt;!&ndash; End of Main Content &ndash;&gt;

        &lt;!&ndash; Footer &ndash;&gt;
        &lt;!&ndash; End of Footer &ndash;&gt;

    </div>
    &lt;!&ndash; End of Content Wrapper &ndash;&gt;

</div>
--></p>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시려면 로그아웃을 눌러 주세요</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary" href="/goLogout">로그아웃</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        init();
    });

    function init() {
        $.ajax({
            url:"/viewComment",
            dataType : "json",
            success : function(data) {
                let con = '';
                for (let i = 0; i < data.length; i++){
                    var id = data[i].id;
                    con += '<tr>';
                    con += '<td>' + data[i].writer + '</td>';
                    con += '<td>' + data[i].content +  '</td>';
                    con += '<td>' + data[i].created_date + '</td>';
                    con += '<td>' + '<button onclick="commentDelete(${data[i].id})">'+"삭제"+'</button>' + '</td>'
                    con += '</tr>';
                }
                $('#commentBody').html(con);
                $('#commentTable').DataTable();
            }
        });
    }
</script>
<script>
    function commentDelete(commentId){
        if (confirm("댓글을 삭제하시겠습니까?")){
            $.ajax({
                url:"/deleteComment/" + id,
                type : "DELETE",
                data: {'id': id},
                success: function (data) {
                    if (data === 'success') {
                        alert("레시피를 삭제하였습니다");
                        location.href = "/goPost";
                    } else {
                        alert("레시피 삭제를 실패하였습니다.")
                    }
                }
            })
        }
    }

</script>
</body>
</html>